.rootDiv {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  &[data-preview-visibility="hidden"] {
    grid-template-columns: 1fr 32px;
  }
  &[data-preview-visibility="fullscreen"] {
    grid-template-columns: 1fr;
  }
}

.editor {
  min-width: 0;
  overflow-y: auto;
}

.divider {
  border: 1px solid #000;
  border-right: none;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  display: grid;
  grid-template-rows: 32px 1fr;
  padding: 2px;
}

.viewer {
  min-width: 0;
  display: grid;
  grid-template-rows: 32px 1fr;
  overflow-y: hidden;
  border: 1px solid #000;
  border-right: none;
  *[data-preview-visibility="fullscreen"] & {
    border-left: none;
  }
  *[data-preview-visibility="split"] & {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
}

.viewerTitle {
  padding-left: 16px;
  border-bottom: 1px solid #000;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.viewerContent {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.roundedButton {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  transition: background-color 100ms linear;
  &:hover {
    background-color: #f0f0f0;
  }
}
