.remark {
  background-color: #fff3cd;
  border-color: #ffda6a;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  padding: 4px 8px;
}

.remark > p {
  margin-top: 0;
}

.remark > :first-child {
  margin-top: 0;
}

.remark > :last-child {
  margin-bottom: 0;
}

.remarkTitle {
  font-weight: bold;
  margin-bottom: 4px;
}

.notAllowed {
  background-color: #ffcdcd;
  border-color: #ff6a6a;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  padding: 4px 8px;
}

.renderedMarkdown code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  border-radius: 6px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  background-color: rgba(175, 184, 193, 0.2);
  color: #24292f;
}

.renderedMarkdown :global(.katex-html) {
  display: none;
}