.cm-editor {
  border-radius: 8px;
  height: 100% !important;
  --gutters-bg-color: rgb(241, 243, 244);
  --gutters-text-color: rgb(150, 150, 150);
  --gutters-border-color: rgb(202, 205, 209);
  --gutters-bg-color-active: rgb(241, 243, 244);
  --gutters-text-color-active: rgb(51, 51, 51);
}

.inset-shadow > .cm-editor,
.input-shadows > .cm-editor {
  //box-shadow: $input-box-shadow !important;
  //@include transition($input-transition);
}

.input-shadows > .cm-focused {
  //box-shadow: $input-box-shadow, $input-focus-box-shadow !important;
  //border-color: $input-focus-border-color;
  outline: 0;
}

.cm-editor {
  // border: 1px solid colors.$highlight-color;
  border-color: var(--bs-card-border-color);
  border-style: solid;
  border-width: 0;
  outline: none !important;
}

.cm-editor:active,
.cm-editor:focus {
  outline: none;
}

.cm-gutterElement {
  //color: map-get($theme-colors, $key: "dark") !important;
}

.ͼ1 .cm-lineNumbers .cm-gutterElement {
  padding-left: 12px !important;
}

.cm-gutters {
  border-right: 1px solid var(--gutters-border-color) !important;
}

.cm-gutters,
.cm-activeLineGutter {
  border-bottom-left-radius: 4px;
  background-color: var(--gutters-bg-color) !important;
  color: var(--gutters-text-color) !important;
}

.cm-activeLine {
  background-color: transparent !important;
}

.cm-focused {
  .cm-activeLineGutter {
    background-color: var(--gutters-bg-color-active) !important;
    color: var(--gutters-text-color-active) !important;
  }

  .cm-activeLine {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }
}

.preview_mark {
  //$main-color: map-get($theme-colors, $key: "info");
  //$text-color: shade-color($main-color, 10%);
  border: 1px solid;
  //border-color: $text-color;
  //color: $text-color;
  border-radius: 50px;
  //background-color: tint-color($main-color, 90%);
  padding: 2px 8px;
}

.read-only .cm-activeLine {
  background-color: transparent !important;
}

.read-only .cm-activeLineGutter {
  background-color: transparent !important;
}

.read-only .cm-cursor {
  visibility: hidden !important;
}

.grayed .cm-scroller {
  background-color: rgba(0, 0, 0, 0.075);
}
